
.main{
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
}

.box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.h{
    text-align: center;
}

.Basic{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 190px;
    text-align: center;
}

.Pro{
    color: white;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 170px;
    scale: 1.4;
    background-color: blueviolet;
    text-align: center;
}

.Mas{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 190px;
    text-align: center;
}